article {
    width: 30rem;
    border: 3px solid green;
    margin: 0 auto;
  }
  
  article:after {
    content: '';
    display: table;
    clear: both;
  }

  h1 {
      text-align: center;
  }
  
  .floatleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0 1rem 1rem 0;
    clear: none;
  }
  
  .floatright {
    float: right;
    clear: none;
  }