*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: block;
    width: 50rem;
    margin: auto;
    background-color: aqua;
}

body::after {
    content: "";
    display: table;
    clear: both;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.floatleft {
    width: 10rem;
    height: 10rem;
    float: left;
    margin: 0 1rem 1rem 0;
}


.first_blockquote {
    margin: 1rem 0;
    content: "";
    display: table;
    clear: both;
}


.float_img {
    float: left;
    margin-right: 1rem;
}

