html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* background-color: #026873; */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.sticky_nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 0;
    position: fixed;
    background-color: #04BF8A;
    width: 100%;
    
}

.sticky_nav a {
    margin-right: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: #363432;
    font-size: 1.3rem;
}

.sticky_nav a:last-child{
    margin-right: 0;
}

.sticky_nav a:hover {
    background-color: #363432;
    color: #04BF8A;
}

section {
    padding: 5rem 0;
}

.home {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #026873;
    
}

blockquote {
    color: wheat;
}
.img_profile {
    padding: 5rem 0;
    border-radius: 50%; 
}

.home_blockq {
    text-align: end;
}
.home_blockq p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.home_blockq cite {
    font-style: italic;
    font-size: 1.3rem;
}

.education {
    background-color: wheat;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-start;
}

.education div {
    background-color: #026873;
    padding: 1rem;
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
    color: wheat;
}

.education h2 {
    text-align: center;
    font-size: 1.5rem;
}
.education ul{
    list-style-type: none;
    padding: 0.2rem, 0;
    border: 2px solid wheat;
    border-radius: 1rem;
}

.education li {
    padding: 0.2rem 2.5rem;
}

.skills {
    background-color: #026873;
    text-align: center;
    color: wheat;
}

.li_skills {
    display: inline-block;
    padding: 0;
    list-style-type: none;
}

.skills li {
    margin-top: 1rem;
    border: 2px solid wheat;
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    width: 25rem;
}

.projects {
    display: flex;
    flex-flow: row nowrap;
    background-color: wheat;
    justify-content: center;
    align-items: center;
}

.projects h2 {
    color: #026873;
}

.contacts {
    background-color: #026873;
    padding: 5rem 0;
}
.contacts ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: wheat;
    list-style-type: none;
}

.contacts li {
    font-size: 1.5rem;
    flex-basis: 15%;
}

.contacts a {
    margin-left:0.3rem;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
}

.contacts a:visited {
    color: wheat
}
.contacts a:hover {
    background-color: #04BF8A;
    color: #026873;
}

body.contact {
    background-color: #026873;
    margin: auto;
    width: 45rem;
    color: wheat;
}


fieldset {
    border-color: wheat;
    display: flex;
    flex-flow: column nowrap;
}

label {
    width: 35rem;
    padding: 1rem;
}

textarea {
    width: 41rem;
    margin: 0.5rem 0;
    color: black;
    padding: 0;
}

input {
    width: 20rem;
}

input:placeholder-shown {
    text-align: center;
}

.center-button {
    text-align: center;
}

.send {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #04BF8A;
    color: wheat;
}

.send:hover {
    background-color: wheat;
    color: #04BF8A;
}